img {
  width: 100%;
  border-radius: 10px;
}
.register_section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 7%;
  gap: 50px;
}
.form_secion {
  width: 50%;
}
.form_title {
  padding: 0 0 50px;
}
.title {
  font-size: 40px;
  margin-bottom: 10px;
  color: #333;
}

.loginLink {
  color: #666;
}
.link {
  color: #416cf8;
  font-weight: 600;
  font-size: 16px;
  padding-left: 5px;
}
.link:hover {
  text-decoration: underline;
}
.form {
  width: 100%;
}

.input_field {
  width: 100%;
  padding: 10px 0;
  position: relative;
}

.inputText {
  padding: 10px;
  width: 100%;
  border: 1px solid #e3e8f4;
  border-radius: 5px;
  font-size: 18px;
  background: transparent;
}
.submit_btn {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.submit_btn:hover {
  background: #416cf8;
  gap: 12px;
}
.show_icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #8b8b8b;
  cursor: pointer;
  padding: 5px;
}
.password_strength {
  display: flex;
  padding: 8px 0;
  gap: 10px;
  font-size: 12px;
  flex-wrap: wrap;
}

.indicator {
  color: #9f9f9f;
}

.indicator.active {
  color: #009688;
}
