.HoldsUs {
  padding: 50px 7%;
}
.title h2 {
  margin-bottom: 20px;
  color: #333;
}

.social_trust {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.single_card_item {
  padding: 20px;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.item_1:hover {
  background: #f6f6f6;
}
.card_top {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;
  margin-bottom: 15px;
}
.card_top h3 {
  color: #444;
}
.icon {
  background: #e2e2e2;
  padding: 5px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #204fc5;
}
.card_text p {
  color: #686868;
  font-size: 16px;
  line-height: 25px;
}
.item_2:hover {
  background: #fdebfd;
}
.item_2 .icon {
  background: #ffddff;
}
.item_3:hover {
  background: #fffee0;
}
.item_3 .icon {
  background: #fdf8af;
}
/* ========= */
.holdsUsBanner {
  background: #f7f7f8;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr)); */
  justify-content: space-between;
  margin-top: 50px;
}

.banner_text h1 {
  font-size: clamp(20px, 5vw, 30px);
  color: #204fc5;
  margin-bottom: 10px;
}

.banner_text h2 {
  color: #222;
}

button.btn {
  padding: 12px 30px;
  border-radius: 10px;
  border: 1px solid #204fc5;
  color: #204fc5;
  font-size: 20px;
  background: transparent;
  transition: all 0.5s ease;
}
button.btn:hover {
  background: #204fc5;
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 980px) {
  .holdsUsBanner {
    flex-direction: column;
    gap: 30px;
  }
}
