.hero_section {
  background: #f7f7f8;
  padding: 100px 7%;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}
.hero_title {
  font-size: clamp(30px, 8vw, 45px);
  margin-bottom: 30px;
}
.hero_text {
  font-size: 20px;
  line-height: 30px;
  color: #686868;
}
.hero_btn {
  margin-top: 30px;
  background: #2a67ff;
  padding: 10px 25px;
  border: none;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #fff;
  transition: all 0.3s ease-in;
}
.hero_btn:hover {
  background: transparent;
  color: black;
  border: 1px solid #686868;
}
@media screen and (max-width: 980px) {
  .hero_section {
    flex-direction: column;
  }
  .hero_content {
    margin-bottom: 50px;
  }
}
