.job_header {
  padding: 100px 7% 60px;
  background: #eceff7;
}

h2.title {
  font-size: 35px;
  color: #444;
}
/* ========== */
.job_list {
  padding: 20px 5px;
}
.job_list_wrapper {
  max-width: 980px;
  margin-left: 15px;
  margin-right: 15px;
  margin: auto;
}
.job_list_wrapper {
  padding: 30px;
  margin-top: -50px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px -3px 10px #efefef;
}
.search_panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search_panel_01,
.search_panel_02 {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}
/* ========== */
.search_panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search_panel_01,
.search_panel_02 {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

button.btn {
  background: #204fc4;
  color: #fff;
  padding: 8px 25px;
  border: none;
  border-radius: 5px;
}

.search_panel_01 {
  padding: 15px 25px;
}

.search_panel_02 {
  padding: 10px 25px;
}
.search_panel_03 select {
  padding: 15px 25px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 5px;
}
.search_panel_01 input,
.search_panel_02 input {
  border: none !important;
  font-size: 16px;
  outline: none;
  color: #000;
}
.icon_search_form {
  color: #204fc4;
}
@media screen and (max-width: 980px) {
  .search_panel {
    display: flex;
    /* flex-direction: column; */
    column-gap: 0.8rem;
  }
  .search_panel_02 {
    display: none;
  }
  .search_panel {
    align-items: self-start;
  }
  .search_panel_01 {
    padding: 10px !important;
  }
  .job_list_wrapper {
    margin-left: 60px;
    margin-right: 60px;
  }
}
@media screen and (max-width: 768px) {
  .search_panel {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
  }
  .search_panel_02 {
    display: none;
  }
  .job_list_wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
}
