footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
  margin-top: 2.5rem;
  padding-top: 6rem;
  background: #0a0d1f;
}
.footer_categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
  align-items: center;
  max-width: 100%;
  justify-items: center;
  padding: auto;
  margin: 0 auto;
}
.footer_categories a {
  background: #26263f;
  color: #fff;
  padding: 0.6rem 1.4rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.footer_categories a:hover {
  background: #fff;
  color: rgb(34, 34, 34);
}
.footer_copy_right {
  text-align: center;
  border-top: 2px solid #26263f;
  padding: 1rem;
  color: white;
  font-weight: 300;
  width: 100%;
}
