.posts {
  padding: 120px 20px;
}
.posts_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, auto));
  gap: 2rem;
  justify-content: start;
  align-items: flex-start;
  max-width: 100%;
}
