/*===========*/
.details_page {
  padding: 50px 7%;
}
section.detailPage {
  padding-top: 160px;
}

.container {
  width: 800px;
  margin: 0 auto;
  z-index: 99;
}
.details__wrapper {
  margin-top: -110px;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #dddddd;
  z-index: 99;
}
.detail_thumb {
  margin-bottom: 1.5rem;
}
.detail_thumb img {
  max-height: 70vh;
  object-fit: cover;
}
.details__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.com_top {
  display: flex;
  align-items: center;
  gap: 15px;
}
.com_top img {
  width: 75px;
}

.com_info h1 {
  font-size: 25px;
  margin-bottom: 0.2rem;
  color: #333;
}

.com_info h6 {
  color: #666;
  font-size: 13px;
  margin-bottom: 0.3rem;
}

.com_info span {
  color: #666;
  font-size: 18px;
}

/* ========= */
.details__top {
  margin-bottom: 30px;
}
.user_btn button {
  cursor: pointer;
}
.user_btn .btn_1 {
  background: #7c5dfa;
  color: #fff;
}
.user_btn .btn_2 {
  background: #fa5d6a;
  color: #fff;
}
.details__top button {
  padding: 7px 25px;

  border-radius: 5px;
  background: #7c5dfa3b;
  border: none;
}

.details__top button a {
  text-decoration: none;
  color: #7c5dfa;
  font-size: 0.9rem;
}

.about__job h6 {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 10px;
}

.about__job h6 {
  font-size: 0.9rem;
  color: #777;
  font-weight: 400;
  margin-bottom: 10px;
}

.about__job h1 {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.about__job span {
  font-size: 0.9rem;
  font-weight: 400;
  color: #7c5dfa;
}
.btn {
  padding: 8px 35px;
  border: none;
  background: #2a67ff;
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.about__job {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.vacancy {
  color: #666666;
}
.job__desc {
  line-height: 30px;
  margin-bottom: 20px;
}

.requirements h1 {
  margin-bottom: 10px;
}

.responsibility h1 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.requirements p,
.responsibility p {
  margin-bottom: 15px;
  line-height: 30px;
}

.requirement__item,
.responsibility__item {
  padding-left: 30px;
  list-style: circle;
}
.requirement__item li,
.responsibility__item li {
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 0.9rem;
  font-weight: 500;
}
